html {
    scroll-behavior: smooth; /*мягкая прокрутка*/
}
.a {
    font-style: italic;
    margin: 10px;
}
.b {
    font-style: italic;
}
.content {
    display: inline-block;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    padding: 12px;
}
p {
    font-family: "Roboto Light", sans-serif;
    font-size: 14px;
    line-height: 1.6;
}
img {
    max-width: 400px; /*максимальная ширина картинки*/
    padding: 10px;
    float: right; /*положение картинки в тексте*/
}
table {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
}
.population th {
    background-color: #cfe3ff;
    border: 1px solid #a2a9b1;
}
.population td {
    border: 1px solid #a2a9b1;
}